body{
    background-image: url('Pictures/Rick_Roll.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    z-index: -50;
}
.return_link{
    position: absolute; 
    color: rgb(0, 0, 0);
}