.background_text {
    height: 130px;
    width: 370px;
    background-color: honeydew;
    opacity: .5;
    position: absolute;
    z-index: -10000;
}
.title {
    position: unset;
    text-align: center;
    font-size: 50px;
    color: white;
    background: rgb(10, 107, 28);
    }
.title2 {
    color: white;
    text-align: unset; 
    font-size:Courier; 
    font-size: 30px;
}
.text {
    font-family: serif; 
    font-size: 20px;
}
.title2_plus_movement {
    left: 100px;
    text-align: unset; 
    font-size:Courier; 
    font-size: 30px;
}
body{
    background-image: url('Pictures/Rainbow_Sprial.gif');
    background-size: cover;
    height: 100vh;
    width: relative;
    padding:0;
    margin:0;
}
.hidden_link{
    position: absolute; 
    color: rgba(255, 255, 255, 0.075);
}
.navigation_bar{
    height: 30px;
    width: auto;
    background-color: rgb(67, 208, 243);
    position: sticky;
    z-index: -10000;
}
.navigation_link{
    position: sticky;
    color: mediumspringgreen;
}
/* This is to test the scroll fuctionality */
.test_scroll{
    position: relative;
    top: 20000px;
    color: white;
    font-size: 50px;
}
