.title{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
    background: blue;
}
.navigation_bar{
    position: sticky;
    padding: 5px;
    width: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}
.navigation_links{
    position: sticky;
    color: white;
    flex:auto;
    font-size: 40px;
    text-decoration: auto;
    text-align: center;
    margin: auto;
}
body{
    background-image: url(Pictures/Bricks.jpg);
}
@media screen {
    
}